header {
    display: flex;
    margin-top: 24px;
}

header h1 {
    margin-top: 0;
}

header button {
    margin-right: 8px;
    height: 40px;
}

.HeaderButton {
    margin-left: auto;
}

.ClickMenu {
   flex-direction: column;
   position: absolute;

}

.ClickMenuBtn {
    border-radius: 0;
    background-color: lemonchiffon;
    border: 2px solid lightgrey;
    border-top: 0;
}

.ClickMenuBtn:first-child {
    border-top: 2px solid lightgrey;
}

.ClickMenuBtn:hover {
    background-color: khaki;
}

.ClickMenuBtn:active {
    background-color: yellow;
}