header {
    display: flex;
}

header h1 {
    margin-top: 0;
}

header button {
    margin-right: 8px;
    height: 40px;
}

.NavBar {
    position: fixed;
    background-color: grey;
    width: 100%;
    padding: 0;
}

#root {
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.HeaderButton {
    margin-left: auto;
}

#GameImg {
    width: 100%;
    min-width: 1500px;
}

.ClickMenu {
   flex-direction: column;
   position: absolute;
}

.ClickMenuBtn {
    border-radius: 0;
    background-color: lemonchiffon;
    border: 2px solid lightgrey;
    border-top: 0;
}

.ClickMenuBtn:first-child {
    border-top: 2px solid lightgrey;
}

.ClickMenuBtn:hover {
    background-color: khaki;
}

.ClickMenuBtn:active {
    background-color: yellow;
}

.CharTag {
    background-color: rgba(255, 250, 205, 0.56);
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.ScreenMessage {
    border: 2px solid grey;
    min-width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(177, 233, 235, 0.80);
    position: fixed;
    top: 5%;
    left: 48%;
}